<h1>Public Data Sets</h1>

Coming Soon!
<!--<p>These are a collection of public datasets that you can replicate
  into your own PouchDB instance to experiment with.</p>

<pre><code>> db.replicate.from('http://pouchbase.com/db/public/npm');</code></pre>

<ul>
  <li>
    <b>NPM</b> - This is a clone of the public registry that powers npm<br />
    <a href="http://pouchbase.com/db/public/npm">
      <code>http://pouchbase.com/db/public/npm</code>
    </a>
  </li>
</ul>-->